<div class='container'>
    <h3>　コメント一覧 </h3>
    <table class="table table-hover">
        <thead>
            <th class='col-sm-1'>
                <h4>投稿者</h4>
            </th>
            <th class='col-sm-2'>
                <h4>税抜価格</h4>
            </th>
            <th class='col-sm-2'>
                <h4>ジャンル</h4>
            </th>
            <th class='col-sm-3'>
                <h4>ステータス</h4>
            </th>
        </thead>
        <div class='jscroll'>
            <div class='row border-bottom py-1'>
                <tbody>
                    <% @posts.each do |post| %>
                        <tr>
                            <td class='col-sm-1'>
                                <%= post.id %>
                            </td>
                            <td class='col-sm-2'>
                                <%= link_to admin_post_path(post) do %>
                                    <%= post.image %>
                                <% end %>
                            </td>
                            <td class='col-sm-2'>
                                <%= post.introduction %>
                            </td>
                            <td class='col-sm-2'>
                                <%= post.tag_maps %>
                            </td>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </div>
        </div>
    </table>
</div>