<div class ="container mt-5">
<h3>プロフィール</h3>
    
    <tr>
      <td><%= image_tag customer.get_profile_image(100,100), {class: "icon"} %></td>
    </tr>
    
    <tr>
      <font size="5"><%= customer.nickname %></font>
    </tr></br>
      <% if customer.email == 'guest@test.com' %>
        <a id="guest">#ゲストユーザーは編集できません</a>
      <% elsif customer == current_customer %>
       <%= link_to edit_customer_customer_path(customer) do %>
        <button type="button" class="btn btn-outline-dark my-2">
          <i class="fas fa-user-edit"></i>編集する
        </button>
       <% end %>
      <% end %>
      
    <%= render "/customer/relationships/follow_button", customer: @customer %>
 
    <p>
      <%= link_to favorite_customer_customer_path(customer) do %>
        <button type="button" class="btn btn-outline-dark">
         <i class="fas fa-thumbs-up"></i>いいね一覧
        </button>
      <% end %>
    </p>
    
     <!--フォローフォロワー表示-->
    <p>
      <%= link_to followings_customer_relationship_path(customer.id) do %>
      <button type="button" class="btn btn-outline-dark"><%= @customer.followings.count %>フォロー</button><% end %>
    </p>
    <p>
      <%= link_to followers_customer_relationship_path(customer.id) do %>
      <button type="button" class="btn btn-outline-dark"><%= @customer.followers.count %>フォロワー</button><% end %>
    </p>
    
</div>
    
     