<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-7 mx-auto">
   <h3 class="text-center mt-5 mb-4">会員情報編集</h3>
   
    <%= form_with model: @customer, url: customer_customer_path(@customer) do |f| %>
     <div class="form-group">
      <div class="row">
       <div class="col-md-3"><%= f.label :プロフィール写真 %></div>
       <div class="col-md-9"><%= f.file_field :profile_image %></div>
      </div>
     </div>
    
     <div class="form-group">
      <div class="row">
       <div class="col-md-3"><%= f.label :名前 %></div>
       <div class="col-md-9">
         <%= f.label :"( 姓 )" %><%= f.text_field :first_name %>
         <%= f.label :"( 名 )" %><%= f.text_field :last_name %>
       </div>
      </div>
     </div>
     
     <div class="form-group">
      <div class="row">
       <div class="col-md-3"><%= f.label :フリガナ %></div>
       <div class="col-md-9">
         <%= f.label :"(セイ)" %><%= f.text_field :first_name_kana %>
         <%= f.label :"(メイ)" %><%= f.text_field :last_name_kana %>
        </div>
      </div>
     </div>
     
     <div class="form-group">
      <div class="row">
       <div class="col-md-3"><%= f.label :ニックネーム %></div>
       <div class="col-md-9"><%= f.text_field :nickname ,class:"form-control" %></div>
      </div>
     </div>
     
     <div class="form-group">
      <div class="row">
       <div class="col-md-3"><%= f.label :メールアドレス %></div>
       <div class="col-md-9"><%= f.text_field :email ,class:"form-control" %></div>
      </div>
     </div>

    
   <div class="row">
     <div class="offset-0 offset-md-3 col-md-9">
      <div class="form-group">
        <input type="submit" name="commit" value="編集内容を保存" class="btn btn-outline-dark" data-disable-with="Update Customer">
          <%= link_to customer_customers_unsubscribe_path(current_customer) do %>
           <button type="button" class="btn btn-outline-dark">退会する</button>
          <% end %>
      </div>
    </div>
   </div>
  <% end %>
  </div>
 </div>
</div>