<div class='container'>
    <h3>　投稿一覧 </h3>
    <table class="table table-hover">
        <thead>
            <th class='col-sm-1'>
                <h4>投稿者</h4>
            </th>
            <th class='col-sm-2'>
                <h4>写真</h4>
            </th>
            <th class='col-sm-2'>
                <h4>内容</h4>
            </th>
            <th class='col-sm-3'>
                <h4>タグ</h4>
            </th>
        </thead>
        <div class='jscroll'>
            <div class='row border-bottom py-1'>
                <tbody>
                    <% @posts.each do |post| %>
                        <tr>
                            <td class='col-sm-1'>
                                <%= post.customer.nickname %>
                            </td>
                            <td class='col-sm-2'>
                                    <%= image_tag post.image, size: "100x100" %>
                            </td>
                            <td class='col-sm-2'>
                                <%= post.introduction %>
                            </td>
                            <td class='col-sm-2'>
                                <% post.tags.each do |tag| %>
                                 #<%= tag.tag_name %>
                                <% end %>
                            </td>
                            <td class='col-sm-2'>
                                <%= link_to "Destroy", admin_post_path(post.id), class: 'btn btn-sm btn-danger edit_post_#{@post.id}', method: :delete, "data-confirm" => "本当に消しますか？" %>
                            </td>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </div>
        </div>
    </table>
</div>