<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-7 mx-auto">
     <h3 class="text-center mt-5 mb-4">投稿編集</h3>
     <% if @post.errors.any? %>
     <%= @post.errors.count %>error prohibited this obj from being saved:
      <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
      </ul>
    <% end %>

    <%= form_with model: @post,url: customer_post_path do |f| %>
    <div class="form-group">
     <div class="row">
      <div class="col-md-3">画像</div>
      <div class="col-md-9">
       <%= f.file_field :image %>
       <%#= f.file_field :image ,class: "form-control image" %>
      </div>
     </div>
    </div>
  
    <div class="form-group">
     <div class="row">
      <div class="col-md-3">Introduction</div>
      <div class="col-md-9">
       <%= f.text_area :introduction ,class: "form-control book_body"  %>
      </div>
     </div>
    </div>
    
     <div class="form-group">
      <div class="row">
       <div class="col-md-3">
        ハッシュタグ
       </div>
       <div class="col-md-9">
         <%= f.text_field :tag_name, value: @post.tags.pluck(:tag_name).join(" "),class:"form-control"%>
         <small>スペースを入力することで複数のタグを付けることができます。</small>
        </div>
       </div>
     </div>
  
    <div class="row">
     <div class="offset-0 offset-md-3 col-md-9">
      <div class="form-group">
       <%= f.submit 'Update Book', class: "btn btn-success btn-block my-3" %>
       <%= link_to "Show", customer_post_path(@post.id), class: "btn btn-block my-3" %>
      </div>
     </div>
    </div>
    <% end %>

   </div>
  </div>
</div>