<% if params[:keyword] != nil %>
 <div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-8 col-lg-7 mx-auto mt-5">
      <% @posts.each do |post| %>
       <%= link_to customer_post_path(post.id) do %>
        <div class="shadow p-3 mb-5 bg-white rounded">
         <div class="card">
          <div class="card-body">
          <h5 class="card-title"><%= image_tag post.customer.get_profile_image(70,70), {class: "icon"} %><%= post.customer.nickname %></h5>
          <p class="card-text"><small class="text-muted"><%= post.created_at %></small></p>
          </div>
          <%= image_tag post.image, {class: "card_image"} if post.image.attached? %>
         </div>
        </div>
       <% end %>
      <% end %>
   </div>
  </div>
 </div>
 
 <% elsif params[:tag_id] != nil %>
 <h3>タグリスト</h3>
  <% @tag_list.each do |list| %>
   <%= list.tag_name %>
   <%= "(#{list.posts.count})" %>
  <% end %>
   <br>
   <%= "#{@tag.tag_name}" %>
   <br>
  <% @posts.each do |post| %>
   <%= link_to post.introduction, customer_post_path(post.id) %>
  <% end %>
  
  <% else %>
  <% @posts.each do |post| %>
   <%= link_to post.introduction, customer_post_path(post.id) %>
  <% end %>
<% end %>