<div class="container mt-5">
    <div class="row">
        <% if @post.present? %>
            <div class="col-md-12 offset-md">
                <p><%= image_tag @post.customer.get_profile_image(70,70), {class: "icon"} %>
                   <%= link_to customer_customer_path(@post.customer.id)do %><%= @post.customer.nickname %><% end %></p>
            </div>
                
             <div class="col-md-6 offset-md"> 
                <p><%= image_tag @post.image,{class: "card_image"} %></p>
            </div>
                
            <div class="col-md-6 offset-md row">
                <div class="col-md-12" style="white-space: pre-wrap;">
                <p><%= @post.introduction %></p>
                </div>
            
                 <div class="col-md-12 mt-auto">    
                    <% @post_tags.each do |tag| %>
                    #<%= link_to tag.tag_name, customer_tag_path(tag.id) %>
                    <% end %></br>
                    
                    <!--API機能-->
                    <div class="tag-box my-3">
                    <% @post.genres.each do |genre| %>
                    <span class="label">#<%= link_to genre.name, customer_genre_path(genre.id) %></span>
                    <% end %>
                    </div>
                    
                     <% if @post.customer == current_customer %>
                    <td>
                      <%= link_to edit_customer_post_path(@post), class: 'btn btn-sm btn-success' do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to customer_post_path(@post), class: 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" do %>
                        <i class="fas fa-trash-alt"></i> 
                      <% end %>
                    </td>
                    <% end %>
                </div>
            </div>
                
            <div class="col-md-6 offset-md my-5"> 
              <p>
                <span id="favorite_buttons_<%= @post.id %>">
                  <%= render "customer/favorites/favorites", post: @post %>
                </span>
                    
            <i class="fas fa-comments"></i>コメント：<%= @post.comments.count %>件</p>
              <% @post.comments.each do |comment| %>
                <div class="comment1"> 
                  <p><%= image_tag comment.customer.get_profile_image(40,40), {class: "icon"} %>
                     <%= comment.customer.nickname %>
                     <span class="font"><%= comment.created_at.strftime('%Y/%m/%d') %></span></br>
                     <%= comment.body %>
                
                     <% if comment.customer == current_customer %>
                     <td><%= link_to '削除',  customer_post_comment_path(comment.post,comment), data: {confirm: '本当に削除しますか？'}, method: :delete %></td></p>
                     <% end %>
                </div>
              <% end %>
            </div>
            
            <div class="col-md-6 offset-md my-5"> 
                <%= form_with url: customer_post_comments_path(@post) do |f| %>
                <%= f.text_area :body, rows: '5', style: "width:100%", placeholder: "コメントをここに" %>
                <%= f.submit "投稿" %>
                <% end %>
            </div>
                
                </div>
            </div>
         <% end %>
    </div>
</div>