<div class="container">
  <div class="row">
<%# if @posts %>
<%# @posts.each do |post| %>
<%# end %>
<%# end %>
<% if @post.present? %>
<div class="col-md-4 offset-md">
<p><%= image_tag @post.customer.get_profile_image(70,70) %></p>

<p><%= link_to customer_customer_path(@post.customer.id)do %><%= @post.customer.nickname %><% end %></p>

<p><%= image_tag @post.image,size:"500x500" %></p>
</div>
</div>

<div class="col-md-8 offset-md"> 
<p><%= @post.introduction %></p>
</div>


<% @post_tags.each do |tag| %>
#<%= link_to tag.tag_name, customer_tag_path(tag.id) %>
<% end %>


<% if @post.favorited_by?(current_customer) %>
<p>
<%= link_to customer_post_favorites_path(@post), method: :delete do %>
♥<%= @post.favorites.count %> いいね
<% end %>
</p>
<% else %>
<p>
<%= link_to customer_post_favorites_path(@post), method: :post do %>
♡<%= @post.favorites.count %> いいね
<% end %>
</p>
<% end %>

<div>
<p>コメント件数：<%= @post.comments.count %></p>
<% @post.comments.each do |comment| %>
<p><%= image_tag comment.customer.get_profile_image(50,50) %></p>
<%= comment.customer.nickname %>
<%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
<td><%= link_to '削除',  customer_post_comment_path(comment.post,comment), data: {confirm: '本当に削除しますか？'}, method: :delete %></td>
<% end %>
</div>
<div>
<%= form_with url: customer_post_comments_path(@post) do |f| %>
<%= f.text_area :body, rows: '5', placeholder: "コメントをここに" %>
<%= f.submit "投稿" %>
<% end %>

</div>

<% if @post.customer == current_customer %>
<td><%= link_to "Edit", edit_customer_post_path(@post), class: 'btn btn-sm btn-success' %></td>
<td><%= link_to "Destroy", customer_post_path(@post), class: 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
<% end %>

<% end %>
</div>
</div>
</div>
</div>