<% if admin_signed_in? %>
  <%= link_to admin_root_path do %>
    <%#= image_tag "logo.jpg", size: "100x100" %>
  <% end %>
  <ul class="nav justify-content-end">
    <li class="nav-item btn"><%= link_to "投稿一覧", admin_posts_path, class: 'nav-link text-dark' %></li>
    <li class="nav-item btn"><%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark' %></li>
    <li class="nav-item btn"><%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark' %></li>
    <li class="nav-item btn"><%= link_to "ログアウト",  destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></li>
  </ul>
<% elsif customer_signed_in? %>
  <%= link_to root_path do %>
    <%#= image_tag "logo.jpg", size: "100x100" %>
  <% end %>
  <ul class="nav justify-content-end">
    <li class="nav-item btn"><%= link_to "マイページ", customer_customer_path(current_customer.id), class: 'nav-link text-dark' %></li>
    <li class="nav-item btn"><%= link_to "新規投稿",  new_customer_post_path, class: 'nav-link text-dark' %></li>
    <li class="nav-item btn"><%= link_to "投稿一覧", customer_posts_path, class: 'nav-link text-dark' %></li>
    <li class="nav-item btn"><%= link_to "ランキング", customer_ranking_path, class: 'nav-link text-dark' %></li>
    <li class="nav-item btn"><%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>
  </ul>
<% else %>
  <%= link_to root_path do %>
    <%#= image_tag "logo.jpg", size: "100x100" %>
  <% end %>
  <ul class="nav justify-content-end">
    <li class="nav-item btn"><%= link_to 'ゲストログイン', customer_guest_sign_in_path, method: :post,  class: 'nav-link text-dark' %></li>
    <li class="nav-item btn"><%= link_to "About", customer_about_path, class: 'nav-link text-dark' %></li>
    <li class="nav-item btn"><%= link_to "投稿一覧", customer_posts_path, class: 'nav-link text-dark' %></li>
    <li class="nav-item btn"><%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %></li>
    <li class="nav-item btn"><%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %></li>
  </ul>
<% end %>
