<!DOCTYPE html>
<html>
  <head>
    <title>EverydayFassion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="navbar expand-lg navbar-dark" style="background-color: #BBBBBB;">
    <div class="container">
     <%= render 'layouts/header' %>
    </div>
   </nav>
    <%= yield %>
   <div class='container'>
    <div class='row'>
     <div class='mx-auto'>
      <%= render 'layouts/footer' %>
     </div>
    </div>
   </div>
  </body>
</html>
